<div id="<%= dom_id reserva %>">
  <p>
    <strong>Data entrada:</strong>
    <%= reserva.data_entrada %>
  </p>

  <p>
    <strong>Data saida:</strong>
    <%= reserva.data_saida %>
  </p>

  <p>
    <strong>Hospede:</strong>
    <%= reserva.hospede_id %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto_id %>
  </p>

</div>
