<p style="color: green"><%= notice %></p>

<h1>Reservas</h1>

<div id="reservas">
  <% @reservas.each do |reserva| %>
    <%= render reserva %>
    <p>
      <%= link_to "Mostrar detalhes da reserva", reserva %>
    </p>
  <% end %>
</div>

<%= link_to "Nova reserva", new_reserva_path %>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>