<%= form_with(model: @reserva, local: true) do |form| %>
  <div>
    <%= form.label :data_entrada %>
    <%= form.date_field :data_entrada, required: true, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :data_saida %>
    <%= form.date_field :data_saida, required: true, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :hospede_id, "Hospede" %>
    <%= form.collection_select :hospede_id, @hospedes, :id, :nome, { prompt: "Selecione um hóspede" }, required: true, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :quarto_id, "Quarto" %>
    <%= form.collection_select :quarto_id, @quartos, :id, :numero, { prompt: "Selecione um quarto" }, required: true, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit "Criar Reserva", class: 'btn btn-primary' %>
  </div>
<% end %>
