<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div>
  <%= link_to "Editar esta reserva", edit_reserva_path(@reserva) %> |
  <%= link_to "Voltar para lista de reservas", reservas_path %>

  <%= button_to "Excluir esta reserva", @reserva, method: :delete %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>