<%= form_with(model: @quarto, local: true) do |form| %>
  <div>
    <%= form.label :numero %>
    <%= form.number_field :numero, required: true %>
  </div>

  <div>
    <%= form.label :tipo %>
    <%= form.select :tipo, Quarto.tipos.keys.map { |k| [k.humanize, k] }, { prompt: "Selecione um tipo" }, required: true %>
  </div>

  <div>
    <%= form.label :preco %>
    <%= form.number_field :preco, required: true %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Quarto.statuses.keys.map { |k| [k.humanize, k] }, { prompt: "Selecione um status" }, required: true %>
  </div>

  <div>
    <%= form.submit "Criar Quarto" %>
  </div>
<% end %>
