<p style="color: green"><%= notice %></p>

<%= render @quarto %>

<div>
  <%= link_to "Editar este quarto", edit_quarto_path(@quarto) %> |
  <%= link_to "Voltar para lista de quartos", quartos_path %>

  <%= button_to "Excluir este quarto", @quarto, method: :delete %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_path, class: "btn btn-primary" %>
</div>