<h1>Painel de Controle</h1>

<div class="panel">
  <h2>Bem-vindo, <%= current_user.email %>!</h2>

  <!-- Painel de informações -->
  <div class="panel-info">
    <h3>Resumo do Sistema:</h3>
    <ul>
      <li>Total de Hóspedes: <%= Hospede.count %></li>
      <li>Total de Reservas: <%= Reserva.count %></li>
      <li>Total de Quartos: <%= Quarto.count %></li>
      <li>Total de Funcionários: <%= Funcionario.count %></li>
    </ul>
  </div>

  <!-- Links rápidos -->
  <div class="panel-links">
    <h3>Ações Rápidas:</h3>
    <ul>
      <li><%= link_to 'Gerenciar Hóspedes', hospedes_path %></li>
      <li><%= link_to 'Gerenciar Reservas', reservas_path %></li>
      <li><%= link_to 'Gerenciar Quartos', quartos_path %></li>
      <li><%= link_to 'Gerenciar Funcionários', funcionarios_path %></li>
    </ul>
  </div>
</div>

<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
