<h1>Painel de Controle</h1>

<p>Bem-vindo(a), <%= current_user.email %>!</p>

<h2>Reservas</h2>
<ul>
  <% @reservas.each do |reserva| %>
    <li>
      Reserva ID: <%= reserva.id %> - Data de Entrada: <%= reserva.data_entrada %> - Data de Saída: <%= reserva.data_saida %>
    </li>
  <% end %>
</ul>

<h2>Gerenciamento</h2>
<ul>
  <li><%= link_to 'Ver Hóspedes', hospedes_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'Ver Quartos', quartos_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'Ver Reservas', reservas_path, class: 'btn btn-primary' %></li>
  <li><%= link_to 'Ver Funcionários', funcionarios_path, class: 'btn btn-primary' %></li>
</ul>

<!-- Aqui você pode adicionar mais seções ou opções conforme necessário -->
