<div id="<%= dom_id conta_usuario %>">
  <p>
    <strong>Usuario:</strong>
    <%= conta_usuario.usuario_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= conta_usuario.username %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= conta_usuario.senha %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= conta_usuario.tipo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= conta_usuario.status %>
  </p>

</div>
