<%= form_with(model: conta_usuario) do |form| %>
  <% if conta_usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conta_usuario.errors.count, "error") %> prohibited this conta_usuario from being saved:</h2>

      <ul>
        <% conta_usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :usuario_id, style: "display: block" %>
    <%= form.number_field :usuario_id %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :senha, style: "display: block" %>
    <%= form.text_field :senha %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
