<p style="color: green"><%= notice %></p>

<h1>Conta usuarios</h1>

<div id="conta_usuarios">
  <% @conta_usuarios.each do |conta_usuario| %>
    <%= render conta_usuario %>
    <p>
      <%= link_to "Mostrar detalhes da conta usuario", conta_usuario %>
    </p>
  <% end %>
</div>

<%= link_to "Nova conta usuario", new_conta_usuario_path %>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>