<p style="color: green"><%= notice %></p>

<h1>H처spedes</h1>

<div id="hospedes">
  <% @hospedes.each do |hospede| %>
    <div class="hospede-item">
      <p><strong>Nome:</strong> <%= hospede.nome %></p>
      <p><strong>Email:</strong> <%= hospede.email %></p>
      <p><strong>Telefone:</strong> <%= hospede.telefone %></p>

      <%= link_to "Mostrar detalhes do h처spede", hospede, class: "btn btn-info" %>
    </div>
  <% end %>
</div>

<div class="actions">
  <%= link_to "Novo h처spede", new_hospede_path, class: "btn btn-success" %>
</div>

<br>
<br>

<!-- Bot찾o para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>
