<p style="color: green"><%= notice %></p>

<%= render @hospede %>

<div>
  <%= link_to "Editar este h贸spede", edit_hospede_path(@hospede) %> |
  <%= link_to "Voltar para lista de h贸spedes", hospedes_path %>

  <%= button_to "Excluir este h贸spede", @hospede, method: :delete, data: { confirm: "Tem certeza que deseja excluir este h贸spede?" } %>
</div>
