<p style="color: green"><%= notice %></p>

<%= render @hospede %>

<div>
  <%= link_to "Editar este hóspede", edit_hospede_path(@hospede) %> |
  <%= link_to "Voltar para lista de hóspedes", hospedes_path %>

  <%= button_to "Excluir este hóspede", @hospede, method: :delete, data: { confirm: "Tem certeza que deseja excluir este hóspede?" } %>
</div>

<br>
<br>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_index_path, class: "btn btn-primary" %>
</div>