<%= form_with(model: funcionario) do |form| %>
  <% if funcionario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
        <% funcionario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome, required: true %>
  </div>

  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf, required: true %>
  </div>

  <div>
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento, required: true %>
  </div>

  <div>
    <%= form.label :telefone %>
    <%= form.text_field :telefone, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div>
    <%= form.label :cargo %>
    <%= form.select :cargo, Funcionario.cargos.keys.map { |k| [k.humanize, k] }, { prompt: "Selecione um cargo" }, required: true %>
  </div>

  <div>
    <%= form.submit "Criar Funcionário" %>
  </div>
<% end %>
