<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
  <%= link_to "Editar este funcionario", edit_funcionario_path(@funcionario) %> |
  <%= link_to "Voltar para lista de funcionarios", funcionarios_path %>

  <%= button_to "Excluir este funcionario", @funcionario, method: :delete %>
</div>

<!-- Botão para voltar para a Home -->
<div class="actions">
  <%= link_to "Voltar para Home", home_path, class: "btn btn-primary" %>
</div>