<!DOCTYPE html>
<html>
<head>
  <title>SistemaPousada</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<header>
  <nav>
    <% if user_signed_in? %>
      <!-- Exibir quando o usuário estiver logado -->
      <p>
        Logado como <%= current_user.email %>
      </p>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %> |
      <%#= link_to 'Editar Conta', edit_user_registration_path %>
    <% else %>
      <!-- Exibir quando o usuário não estiver logado -->
      <%= link_to 'Login', new_user_session_path %> |
      <%#= link_to 'Registrar', new_user_registration_path %>
    <% end %>
  </nav>
</header>

<main>
  <%= yield %> <!-- Aqui é onde o conteúdo das views específicas será inserido -->
</main>
</body>
</html>
